<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Películas Recomendadas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
    <!-- Enlazar tu archivo CSS personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<div class="container">
    <header>
        <h1>Películas Recomendadas</h1>
        <a href="{{ url_for('index') }}" class="button">Volver a la lista de películas</a>
    </header>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Popularidad</th>
        </tr>
        </thead>
        <tbody>
        {% for i, pelicula in enumerate(peliculas, 1) %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ pelicula['Name'] }}</td>
            <td>{{ pelicula['Popularity'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
